.container {
  padding-top: 10px;
  padding-bottom: 60px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form label {
  display: block;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 137.5%;
  margin-bottom: 6px;
  color: #2c1a18;
}
.form input {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 12px;
  width: 320px;
  outline-color: #e58776;
  margin-bottom: 10px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 137.5%;
  color: #2c1a18;
}

.btn {
  background: #000;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  width: 320px;
  line-height: 34px;
  color: #ffffff;
  cursor: pointer;
}
.btn:hover {
  background-color: transparent;
  border: 2px solid #e58776;
  color: #e58776;
}
