.container {
  background: #2c1a18;
  padding: 80px 50px;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top h1 {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;

  color: #e58776;
}
.top p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
}
.section {
  padding-top: 40px;
  /* padding: 80px 50px; */
  position: relative;
  top: 0;
  left: 0;
}
.line {
  border-radius: 2px;
  border-left: 3px solid #d9d9d9;
  height: 1510px;

  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 40px;
}
.circle1 {
  position: absolute;
  left: 50%;
  margin-left: -13px;
  top: 90px;
}
.circle2 {
  position: absolute;
  left: 50%;
  margin-left: -13px;
  top: 310px;
}
.circle3 {
  position: absolute;
  left: 50%;
  margin-left: -13px;
  top: 770px;
}
.circle4 {
  position: absolute;
  left: 50%;
  margin-left: -13px;
  top: 1100px;
}
.card,
.card2,
.card3,
.card4 {
  background: #ffffff;
  border-radius: 2px;
  padding: 15px;
  width: 330px;
  margin-bottom: 40px;
}
.image img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 5px;
}
.card {
  position: relative;
  left: 190px;
  top: 10px;
}
.arrow {
  position: absolute;
  right: -30px;
  top: 30px;
}
.card2 {
  position: relative;
  left: 700px;
  bottom: 298px;
}

.arrow2 {
  position: absolute;
  left: -30px;
  top: 30px;
}
.card3 {
  position: relative;
  left: 190px;
  bottom: 360px;
}

.card4 {
  position: relative;
  left: 700px;
  bottom: 550px;
}
.info h2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  color: #401528;
}
.info p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;

  color: #2c1a18;
}

@media (max-width: 600px) {
  .container {
    padding: 30px;
  }
  .line {
    display: none;
  }
  .circle1,
  .circle2,
  .circle3,
  .circle4 {
    display: none;
  }
  .card,
  .card2,
  .card3,
  .card4 {
    position: relative;
    left: 0;
    top: 0;
  }
  .arrow,
  .arrow2 {
    display: none;
  }
}
