.container1 {
  padding: 30px 50px;
  background: #2c1a18;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.top h1 {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #e58776;
  margin-bottom: 5px;
}
.top p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  padding: 0 40px;
}

.section h2 {
  font-family: "Taviraj";
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  line-height: 41px;
  /* identical to box height */

  color: #ffffff;
}

.section p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.section h3 {
  font-family: "Taviraj";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 41px;
  /* identical to box height */
  color: #ffffff;
}
.socials {
  display: flex;
  flex-direction: column;
}
.socials p {
  font-family: "Taviraj";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 41px;
  margin-bottom: -20px;
  /* identical to box height */
  color: #ffffff;
}
.socials span {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  color: #ffffff;
}

@media (max-width: 600px) {
  .container1 {
    padding: 30px 10px;
  }
  .section {
    display: flex;
    flex-direction: column;
  }
  .socials {
    margin-bottom: 20px;
  }
}

.container {
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  font-family: "Taviraj";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  text-align: center;

  color: #2c1a18;
}
.container h2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */
  text-align: center;
  color: #2c1a18;
}
