.logo {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}
.container {
  padding: 5px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 58px;
  /* identical to box height */
  margin-bottom: -20px;
  margin-top: -40px;
  text-align: center;
  color: #e58776;
}
.container h2 {
  font-family: "Taviraj";
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 123px;
  /* identical to box height */
  text-align: center;
  margin-bottom: -40px;
  margin-top: 20px;
  color: #401528;
}
.date {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.date h3 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  color: #2c1a18;
}
.section ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
.mainLink {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #2c1a18;
}

.active {
  border-bottom: 2px solid #2c1a18;
}
.mainLink:hover {
  color: #e58776;
}

.btn {
  background: #000;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 10px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;

  line-height: 34px;
  color: #ffffff;
  cursor: pointer;
}
.btn:hover {
  background-color: transparent;
  border: 2px solid #e58776;
  color: #e58776;
}

@media (max-width: 600px) {
  .logo img {
    width: 100px;
  }
  .container {
    padding: 30px 10px;
  }
  .container h1 {
    font-size: 30px;
  }
  .container h2 {
    font-size: 30px;
  }
  .section ul {
    padding: 0 2px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .mainLink {
    font-weight: 400;
    font-size: 14.1px;
    line-height: 18px;
  }
}
