.container {
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 58px;
  /* identical to box height */
  margin-bottom: -20px;
  text-align: center;
  color: #e58776;
}
.container h2 {
  font-family: "Taviraj";
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 123px;
  /* identical to box height */
  text-align: center;
  margin-bottom: -40px;
  margin-top: 20px;
  color: #401528;
}
.date {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.date h3 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  color: #2c1a18;
}
.section ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
.section li {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #2c1a18;
}
.section a {
  text-decoration: none;
}
.section li:hover {
  border-bottom: 2px solid #2c1a18;
}

@media (max-width: 600px) {
  .container {
    padding: 30px 10px;
  }
  .container h1 {
    font-size: 30px;
  }
  .container h2 {
    font-size: 30px;
  }
  .section ul {
    padding: 0 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .section li {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }
}
