.container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 80px;
  align-items: center;
  justify-content: center;
}

.container input {
  border: 1px solid #000000;
  border-radius: 20px 0px 0px 20px;
  padding: 20px;
  width: 40%;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: #2c1a18;
}

.container input:focus {
  border-radius: 22px 0px 0px 22px;
  outline-color: #e5e5e5;
}
.container button {
  padding: 14px 30px;
  background: #2c1a18;
  border: 1px solid #000000;
  border-radius: 0px 20px 20px 0px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  cursor: pointer;
  color: #ffffff;
}

.container button:hover {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  color: black;
}

@media (max-width: 600px) {
  .container input {
    width: 65%;
  }
  .container button {
    padding: 14px 20px;
  }
}
