.container {
  padding: 80px 50px;
  background: #e5e5e5;
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.top h1 {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: -5px;

  color: #401528;
}
.top p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  color: #2c1a18;
}

.couple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.couple p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2c1a18;
  margin-bottom: 40px;
}

.couplediv {
  display: flex;
  column-gap: 60px;
}
.groom {
  width: 320px;
  height: 450px;
}

.image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.details h2,
.details1 h2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 31px;
  text-align: right;
  margin-bottom: -10px;
  color: #000000;
}
.details1 h2 {
  text-align: left;
}
.details h3,
.details1 h3 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-align: right;
  color: #000000;
}
.details1 h3 {
  text-align: left;
}

.socials {
  display: flex;
  column-gap: 10px;
}

.details > .socials {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .container {
    padding: 60px 30px;
  }

  .couplediv {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .groom {
    margin-bottom: 50px;
  }
}
