.container {
  padding: 80px 50px;
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.top h1 {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 10px;
  color: #401528;
}
.top p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  color: #2c1a18;
}

.couple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.couple p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2c1a18;
  margin-bottom: 40px;
}

.couplediv {
  display: flex;
  column-gap: 60px;
}
.groom {
  position: relative;
  top: 0;
  width: 300px;
  height: 400px;
}
.image {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.details {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.details h2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 35px;
  margin-bottom: -10px;
  color: #401528;
}
.details h3 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 10px;
  color: #2c1a18;
}

.socials {
  display: flex;
  column-gap: 10px;
}

@media (max-width: 600px) {
  .container {
    padding: 60px 30px;
  }

  .couplediv {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
}
